@font-face {
     font-family: 'DungGeunMo';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

.about-container {
    display: block;
    padding: 20px;
    font-size: 1.5rem
}

.about-title{
    font-size: 2rem;
}

body {
  font-family: 'DungGeunMo';
  background-color: #000e22;
    text-align: center;
    color: whitesmoke;
}

.bg-light:{
    background-color: #0E1A40;
}

.nav-distance {    
    padding-left: 3%;
    padding-top: 2%;
}

.navbar-brand {
    color: whitesmoke;
}

.navbar-nav {
    color: whitesmoke;
}

.form-control.me-2 {
    background-color: transparent;
    color: whitesmoke;
}

/* .ad-content{
    height: 50px;
} */

.section {
    margin-top: 30px;
    text-align: center;
    color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
}

.title {
    
    font-size: 2.3rem;
    line-height: 1.2;
    text-align: center;
    color: tan;
}

.img-sortinghat {
    filter: invert(80%);
    width: 150px;
    margin-bottom: -40px;
}


.upload-emoji {
    font-size: 5rem;
}

#about {
    padding: 25px;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
    .img-sortinghat{
        width: 40%;
    }
    .file-upload-image{
        padding: 0;
        /* max-width: 70%; */
        width: 200px;
        height: 200px;
        margin-bottom: -40px;
    }
}

.file-upload {
  background-color: transparent;
  width: 80%;
  margin: 0 auto;
  /* padding: 20px; */
    border-radius: 10px;
    margin-bottom: 30px;

}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #AAAAAA;
  position: relative;
    border-radius: 10px;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #222F5B;
  border: 4px dashed #AAAAAA;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #AAAAAA;
  padding: 20px 0;
}

.file-upload-image {
    border: 10px solid #312e52;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px black;
    object-fit: cover;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #740001;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #4a0b0c;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #4a0b0c;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.result-msg {
    font-size: 1.5rem;
}

.house-txt{
    font-size:2rem;
}


.fav-txt{
    color: #4172b5;
}

.unfav-txt{
    color: #b05f5f;
}

.chart-container{
    position: relative;
    margin: auto;
    width: 60%;
    /* height:50vh;  */
    /* width:50vw */
}

.at-share-btn-elements {
    padding-top: 20px;
}

.remove-image {
    font-size: 1.5rem;
}

.ad-banner{
    padding-top: 100px;
    width: 100%;
    margin: 0 auto;
}